# how much net would i make if i want to retire at 45, getting a bachelors at CU boulder, or a non degree job. my random variables are, acceptance rate, graduation rate, and salary exponentially over the years. assume living expenses is 50k every year after college and 25k during

In [2]:
import random as rd

In [5]:
total = 0
total3 = 0
total2 = 0
trials3 = 0
trials2 = 0
for i in range(100):
    profit = 0
    if rd.randint(0,100) < 83:
        debt = 15333 * 2 #average annual fee in CU boulder (from chatgpt)
        salary = 9504 #mcdonald annual salary
        salary += salary * (1+(rd.randint(1,5)/100))
        profit = salary
        if rd.randint(0,100) < 62:
            salary = rd.randint(60,80)*1000
            salary += salary * (1+0.2) ** 25
            profit = salary
            print("1")
            total3 += profit
            trials3 += 1
        else:
            salary = 9504
            salary += salary * (1+0.2) ** 20
            profit = salary
            print("2")
            total2 += profit
            trials2 += 1
    else:
        salary = 9504
        salary += salary * (1 + 0.2) ** 20
        profit = salary
        print("3")
        total2 += profit
        trials2 += 1
    print(profit)
    total += profit
print(total2/trials2)
print(total3/trials3)
print(total/100)

1
6265754.08186448
1
6747735.165084825
1
6458546.515152618
2
373864.54968220775
1
6458546.515152618
1
6747735.165084825
2
373864.54968220775
1
6651338.948440756
2
373864.54968220775
1
7133320.031661101
2
373864.54968220775
2
373864.54968220775
2
373864.54968220775
1
5976565.431932273
1
7518904.8982373765
3
373864.54968220775
3
373864.54968220775
2
373864.54968220775
2
373864.54968220775
1
5976565.431932273
1
7518904.8982373765
3
373864.54968220775
1
5783772.998644136
1
6747735.165084825
3
373864.54968220775
1
6844131.381728894
1
7133320.031661101
2
373864.54968220775
1
6940527.598372963
2
373864.54968220775
1
5976565.431932273
2
373864.54968220775
1
7422508.681593307
1
7036923.8150170315
3
373864.54968220775
1
7133320.031661101
1
5783772.998644136
2
373864.54968220775
2
373864.54968220775
2
373864.54968220775
2
373864.54968220775
1
6169357.865220412
1
6940527.598372963
1
6844131.381728894
2
373864.54968220775
1
6940527.598372963
1
6844131.381728894
2
373864.54968220775
1
7422508.681593307
3
373864.54968220775
3
373864.54968220775
3
373864.54968220775
1
6844131.381728894
1
7229716.24830517
1
6458546.515152618
1
6072961.6485763425
1
7133320.031661101
2
373864.54968220775
2
373864.54968220775
1
6169357.865220412
1
6265754.08186448
1
7518904.8982373765
1
7036923.8150170315
1
6651338.948440756
2
373864.54968220775
1
7133320.031661101
2
373864.54968220775
2
373864.54968220775
3
373864.54968220775
1
5783772.998644136
2
373864.54968220775
2
373864.54968220775
2
373864.54968220775
1
6362150.298508549
1
7518904.8982373765
2
373864.54968220775
2
373864.54968220775
1
7422508.681593307
1
6554942.7317966875
2
373864.54968220775
2
373864.54968220775
1
7326112.464949239
1
5880169.215288205
3
373864.54968220775
2
373864.54968220775
2
373864.54968220775
1
7615301.114881446
2
373864.54968220775
2
373864.54968220775
1
5976565.431932273
3
373864.54968220775
1
6554942.7317966875
2
373864.54968220775
1
7229716.24830517
2
373864.54968220775
1
5880169.215288205
2
373864.54968220775
3
373864.54968220775
2
373864.54968220775
1
6554942.7317966875
373864.5496822076
6717493.214765117
3609115.1688744877

# the average wealth after 45 years is 3.6 million dollars tho the average wealth if you graduated from CU boulder is higher than if you didnt graduate at 6.7 million and those who didnt at 3.7 million